.aside, .aside#{$prfx} {
  display: none;
  @include media($screen-tablet) {
    display: block;
    flex: 1 1;
  }
  &__container {
    padding-bottom: 40px;
  }
  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }
}