.breadcrumb, .breadcrumb#{$prfx} {
  padding: 10px 0;
  list-style: none;
  @include flex-row(flex-start, baseline);
  &__item {
    font-size: 18px;
    @include flex-row(flex-start, baseline);
  }
  &__item+&__item:before {
    padding: 8px;
    color: black;
    content: "\203a";
  }
  &__link {
    @extend %link;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}