@charset "UTF-8";

$hamburger-padding-x : 0 !default;
$hamburger-padding-y : 0 !default;
$hamburger-layer-width : 30px !default;
$hamburger-layer-height : 2px !default;
$hamburger-layer-spacing : 7px !default;
$hamburger-layer-color : $N0 !default;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity : .9 !default;
$hamburger-active-layer-color : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter : false !default;
$hamburger-hover-filter : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

$hamburger-types: (spring,
) !default;

$hamburger: hamburger;

@if index($hamburger-types, spring) {
  .#{$hamburger}--spring, .#{$hamburger}#{$prfx}--spring {
    .#{$hamburger}-inner, .#{$hamburger}-inner#{$prfx} {
      top: $hamburger-layer-height / 2;
      transition: background-color 0s 0.13s linear;

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
          transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }

      &::after {
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
          transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .#{$hamburger}-inner, .#{$hamburger}-inner#{$prfx} {
        transition-delay: 0.22s;
        background-color: transparent !important;

        &::before {
          top: 0;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(45deg);
        }

        &::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(-45deg);
        }
      }
    }
  }
}


.#{$hamburger}, .#{$hamburger}#{$prfx} {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $hamburger-hover-use-filter==true {
      filter: $hamburger-hover-filter;
    }

    @else {
      opacity: $hamburger-hover-opacity;
    }
  }

  &.is-active {
    &:hover {
      @if $hamburger-hover-use-filter==true {
        filter: $hamburger-active-hover-filter;
      }

      @else {
        opacity: $hamburger-active-hover-opacity;
      }
    }

    .#{$hamburger}-inner, .#{$hamburger}-inner#{$prfx},
    .#{$hamburger}-inner::before, .#{$hamburger}-inner#{$prfx}::before,
    .#{$hamburger}-inner::after, .#{$hamburger}-inner#{$prfx}::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.#{$hamburger}-box, .#{$hamburger}-box#{$prfx} {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.#{$hamburger}-inner, .#{$hamburger}-inner#{$prfx} {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.#{$hamburger}, .#{$hamburger}#{$prfx} {
  outline: none;

  @include media($screen-desktop) {
    display: none;
  }
}

.burger, .burger#{$prfx} {
  background-color: var(--bg-color);
  padding: 29px 0;
  @include media($screen-desktop) {
    display: none;
  }

  &__container {
    padding: 0 24px;

    @include container;
  }
}