.chapter-card, .chapter-card#{$prfx} {
  margin-bottom: 25px;
  overflow: hidden;
  @include media($screen-desktop) {
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__content-wrapper {
    @include flex-row(space-between, stretch);
    @include media {
      margin-bottom: 8px;
    }
  }

  &__img-wrapper {
  @include padding-hack(29.6%);
  flex-basis: 50%;
  }
  &__img {
    &--border {
      border: 1px solid rgba(128, 128, 128, 0.2);
    }
  }

  &__description {
    @include flex-col(space-between, stretch);
    flex-basis: 45%;
    @include media($screen-tablet-small) {
      justify-content: flex-start;
    }
    display: flex;
    @include media($screen-iphone-6) {
      display: none;
    }
    @mixin for-screens($min, $max) {
      display: none;
      @include media($min) {
        display: flex;
      }
      @include media($max) {
        display: none;
      }
    }
    @for $i from 1 through 13 {
      &.screen-home#{$prfx}-#{$i}, &.screen-home-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-home#{$prfx}-14, &.screen-home-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
    @for $i from 1 through 13 {
      &.screen-aside#{$prfx}-#{$i}, &.screen-aside-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-aside#{$prfx}-14, &.screen-aside-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
    @for $i from 1 through 13 {
      &.screen-section#{$prfx}-#{$i}, &.screen-section-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-section#{$prfx}-14, &.screen-section-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
  }

  &__title {
    @include text($base-size, 500, $N4);
    margin-bottom: 6px;
  }

  &__text {
    @include text($H140, 400, $N4);
  }
  
  &__data {
    display: none;
    @include media {
      @include flex-row(flex-start, center);
      @include text($H120, 400, $N3);
    }
  }
}