$styles: checkbox;
.#{$styles}, .#{$styles}#{$prfx} {
  position: relative;
  width: fit-content;
  z-index: 1;
  display: block;
  &--margin-bottom {
    margin-bottom: 32px;
  }
  &__input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    top: 2px;
    left: 2px;
    &:checked + .#{$styles}#{$prfx}__real, &:checked + .#{$styles}__real {
      .#{$styles}#{$prfx}__check, .#{$styles}__check {
        opacity: 1;
      }
    }
  }
  &__real {
    @include flex-row(flex-start, center);
  }
  &__button {
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--bg-color);
    @include size(15px);
    @include flex-row(center, center);
    margin-right: 6px;
  }
  &__check {
    font-size: 12px;
    font-weight: 700;
    opacity: 0;
    @include transition(opacity);
  }
}