* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-size: 16px;
  --base-font: 'GothamPro', sans-serif;
  --bg-color: #009CBD;
  --darken-bg-color: rgb(0, 119, 143);
  --lighten-bg-color: rgb(0, 180, 216);
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: var(--base-size);
  font-weight: 400;
  line-height: 1.2;
  @include media($screen-desktop) {
    // align-items: center;
  }
}

body, a, button, textarea, input {
  font-family: var(--base-font);
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container, .container#{$prfx} {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.container-fluid, .container-fluid#{$prfx} {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.aside-wrapper, .aside-wrapper#{$prfx} {
  padding: 32px 0;
}
.is-mobile {
  @include media {
    display: none;
  }
}
.is-tablet {
  display: none;
  @include media {
    display: block;
  }
}
.is-desktop {
  display: none;
  @include media($screen-desktop) {
    display: block;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0;
      visibility: hidden; }
  100% { opacity: 1;
    visibility: visible; }
}

.fade {
  animation: fadeIn 0.2s ease;
}

.fadeBody {
  animation: fadeIn 1s ease;
}

body {
  animation: fadeIn 1s ease both;
  -webkit-animation: fadeIn 1s ease both;
  -moz-animation: fadeIn 1s ease both;
  -ms-animation: fadeIn 1s ease both;
}

@-webkit-keyframes -amp-start {
  from {
    visibility: hidden
  }

  to {
    visibility: visible
  }
}

@-moz-keyframes -amp-start {
  from {
    visibility: hidden
  }

  to {
    visibility: visible
  }
}

@-ms-keyframes -amp-start {
  from {
    visibility: hidden
  }

  to {
    visibility: visible
  }
}

@-o-keyframes -amp-start {
  from {
    visibility: hidden
  }

  to {
    visibility: visible
  }
}

@keyframes -amp-start {
  from {
    visibility: hidden
  }

  to {
    visibility: visible
  }
}