@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Lato:300,400,700|Literata:400,500,600,700|Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

@font-face {
	font-family: 'GothamPro';
	src: url('.~assets/fonts/GothamPro.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('.~assets/fonts/GothamPro-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('.~assets/fonts/GothamPro-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBlack';
	src: url('.~assets/fonts/ofont.ru_Gotham_Pro.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'DMSerifDisplay';
	src: url('~assets/fonts/DMSerifDisplay-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}