.form, .form#{$prfx} {
  @include flex-col(flex-start, stretch);
  margin-bottom: 22px;
  @include media {
    padding-right: 32px;
  }
  @include media($screen-desktop) {
    padding-right: 120px;
  }
  &__label {
    @include flex-col(flex-start, stretch);
    margin-bottom: 20px;
  }
  &__name {
    @include text(16px, 400, $N4);
    margin-bottom: 12px;
    @include media {
      font-size: $H120;
    }
    &--required {
      &:after {
        content: ' *';
        color: red;
        font-size: $base-size;
      }
    }
  }
  &__input {
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--bg-color);
    height: 40px;
    width: 100%;
    padding: 0 12px;
    @include media {
      width: 85%;
    }
    @include media($screen-desktop) {
      width: 75%;
    }
    @include media($screen-hd) {
      width: 65%;
    }
    &--textarea {
      padding: 12px;
      min-height: 156px;
      resize: vertical;
      @include media {
        width: 100%;
      }
    }
    
  }
}