$styles: glide-slide;
.#{$styles}, .#{$styles}#{$prfx} {
  padding: 150px 40px 60px;
  position: relative;

  &__image {
    position: absolute;
    object-fit: cover;
    object-position: center 15%; 
    width: 100%;
    height: 100%;
    @include position;
  }

  &__layer {
    position: absolute;
    @include position;
    background-image: url(#{$img-path}/bg-2.png);
    z-index: 0;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    @include text($H180, 700, $N0);
    margin-bottom: 8px;
    z-index: 2;
  }

  &__text {
    @include text($H140);
    max-height: calc(#{$H140} * 3.6);
    @include truncate(fit-content) {
      white-space: normal;
    };
  }

  &__dots {
    @include text($H140);
    @include transition(color);
    @include media($screen-pc) {
      &:hover {
        color: $B1;
      }
    }
  }
}