.glide {
  padding: 32px 0 40px;

  &__bullets {
    bottom: 70px;
    left: auto;
    right: 0;
  }
  
  &__bullet--active {
    background-color: var(--lighten-bg-color);
  }
  
  .glide__bullet:hover,
  .glide__bullet:focus {
    border: none;
    background-color: var(--lighten-bg-color);
  }
}