.loader, .loader#{$prfx} {
  position: fixed;
  @include position;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.333);
  @include flex-row(center, center);
  animation: fadeIn 0.2s ease;
  
  &__spiner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.5s linear infinite;
  }
}
