.logo, .logo#{$prfx} {
  padding: 30px 0 24px;

  &__container {
    padding: 0 16px;

    @include container;
    margin: 0 auto;
  }

  &__text {
    @include text($H300, 700, $R1);
    font-family: $logo-font;
  }
}