.slideInDown.animated,
.slideOutUp.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.menu, .menu#{$prfx} {
  padding: 30px 0 40px;
  background-color: var(--bg-color);
  visibility: hidden;
  right: 0;
  left: 0;
  z-index: 10;
  transform-origin: 0 0;
  position: absolute;
  @include media($screen-desktop) {
    margin: auto;
    position: static;
    transform-origin: unset;
    visibility: visible;
    background-color: var(--bg-color);
    padding: 0;
  }

  &__navigation {
    padding: 0 16px;

    @include media {
      padding: 0 22px;
      margin: 0 auto;
    }

    @include container;
  }

  &__list {
    @include media($screen-desktop) {
      @include flex-row(space-between, stretch);
    }
  }
  &__item {
    flex: 1 1;
    margin-bottom: 20px;
    @include flex-row(flex-start, stretch);
    
    &:last-child {
      margin-bottom: 0;
    }

    @include media($screen-desktop) {
      margin: 0;
      justify-content: center;
    }
  }

  &__link {
    flex: 1 1;
    white-space: nowrap;
    @include text($H120, 500, $N0);
    &::first-letter {
      text-transform: uppercase;
    }
    @include media($screen-desktop) {
      text-align: center;
      font-size: 1rem;
      padding: 30px 20px 40px;
      @include  transition(color, background-color);
      
      &:hover {
        color: darken($N0, 10%);
        background-color: var(--lighten-bg-color);
      }
    }
    @include media($screen-hd) {
      font-size: $H180;
      
    }
  }

  & .active {
    @include media($screen-desktop) {
      background-color: var(--lighten-bg-color);
    }
  }
}