.post-nav, .post-nav#{$prfx} {
  @include flex-row(space-between, stretch);
  margin-bottom: 60px;
  &__image-wrapper {
    @include padding-hack(80px) {
      object-fit: contain;
    };
    margin-bottom: 20px;
    @include media($screen-desktop) {
      margin-bottom: 0;
      padding-top: 29.6%;
      flex: 0 0 50%;
    }
  }
  &__image {
    &--border {
      border: 1px solid rgba(128, 128, 128, 0.2);
    }
  }
  &__title {
    @include text($base-size, 500, $N4);
    flex: 1 1;
    @include flex-col(center, stretch);
  }
  &__link {
    flex: 0 0 45%;
    @include flex-col(space-between, stretch);
    @include media($screen-desktop) {
      flex-direction: row;
    }
  }
  &__link-name {
    @extend %link;
    margin-bottom: 20px;
    @include media($screen-desktop) {
      margin-bottom: 6px;
    }
  }
  &__description {
    @include flex-col(space-between, stretch);
    @include media($screen-desktop) {
      flex: 0 0 45%;
    }
    &--end {
      text-align: right;
      @include media($screen-desktop) {
        text-align: right;
        order: -1;
      }
    }
  }
}