.post-form, .post-form#{$prfx} {
  
  &__title {
    @include text($H180, 700, $N4);
    text-transform: uppercase;
    margin-bottom: 38px;
  }
  &__subtitle {
    @include text($H200, 500, $N4);
    margin-bottom: 20px;
  }
  &__description {
    @include text($H140, 400, $N4);
    margin-bottom: 22px;
  }
}