.post, .post#{$prfx} {
  &__link {
    margin-bottom: 24px;
    @extend %link;
  }
  &__title {
    @include text($H200, 500, $N4);
    margin-bottom: 21px;
  }
  &__image-wrapper {
    margin-bottom: 18px;
  }
  &__image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__text {
    margin-bottom: 32px;
    line-height: 1.4;
  }
}