.pre-watch, .pre-watch#{$prfx} {
  padding: 0 0 40px;
  @include media($screen-desktop) {
    @include flex-row(space-between, flex-start);
    flex-wrap: wrap;
  }

  &__chapter {
    margin-bottom: 40px;
    @include media($screen-desktop) {
     flex-basis: 47%;
     max-width: 47%;
  }
}

  &__title {
    @include text($H180, 500, var(--bg-color));
    margin-bottom: 30px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}