$styles: section;
.#{$styles}, .#{$styles}#{$prfx} {

  &__title {
    margin-bottom: 32px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__posts {
    @include flex-col(flex-start, stretch);
    margin-bottom: 40px;
  }
  
}