.signup, .signup#{$prfx} {
  padding-bottom: 40px;
  text-transform: uppercase;

  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }

  &__btn {
    .button {
      width: 100%;
    }
  }
}