.topics, .topics#{$prfx} {
  padding: 0 0 50px;

  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }

  &__label {
    border-radius: 3px;
    background-color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    @include text($H140, 500, $N0);
    margin: 0 10px 10px 0;
  }
}
.topic, .topic#{$prfx} {
  border-radius: 3px;
  background-color: var(--bg-color);
  padding: 8px 16px;
  display: inline-block;
  @include text($H140, 500, $N0);
  margin: 0 10px 10px 0;
}