<template>
  <div class="page page-prfx">
    <app-header/>
    <app-home/>
    <app-footer/>
  </div>
</template>

<script>
import AppHome from '../components/home/AppHome';
import { mapState } from 'vuex';
import jsonData from '../db.json';
import formatPost from '../plugins/formatPost';
import formatCategory from '../plugins/formatCategory';
import filterPost from '../plugins/filterPost';
import has from 'has';

export default {
  name: 'Home',
  async asyncData ({ params, error, payload, store }) {
    if (payload && has(payload, 'posts')) {
      store.commit('updatePosts', payload.posts);
      return { ...payload }
    } else {
      const formatedData = jsonData.map(formatPost).filter(filterPost).map(formatCategory);
      store.commit('updatePosts', formatedData);
      return { posts: formatedData };
    }
  },
  components: {
    AppHome,
  },
}
</script>
<style lang="scss" scoped>

</style>
