<template>
<n-link :to='{ name: "post", params: { post: post.route } }' class="chapter-card chapter-card-prfx">
  <div class="chapter-card__content-wrapper chapter-card-prfx__content-wrapper">
    <div class="chapter-card__img-wrapper chapter-card-prfx__img-wrapper">
      <img :src="post.image.link" :alt="post.keyword" class="chapter-card__img chapter-card-prfx__img" v-if='post.image.link'>
      <img src="~/assets/images/no-image-available.png" :alt="post.keyword" class="chapter-card__img chapter-card__img--border chapter-card-prfx__img chapter-card-prfx__img--border" v-else>
    </div>
    <template v-if='truncatedType'>
      <div
        v-for='(item, index) in post[truncatedType]'
        :key='index'
        :class="`chapter-card__description screen-${truncatedType}-${index} chapter-card-prfx__description screen-${truncatedType}-prfx-${index}`">
        <h2 class="chapter-card__title chapter-card-prfx__title"
          >{{ item.keyword }}
        </h2>
        <p class="chapter-card__text chapter-card-prfx__text"
          >{{ item.text }}
        </p>
      </div>
    </template>
    <div class="chapter-card__description chapter-card-prfx__description" v-else>
      <h6 class="chapter-card__title chapter-card-prfx__title"
        >{{ post.keyword }}
      </h6>
      <p class="chapter-card__text chapter-card-prfx__text"
        >{{ post.article.translate_text }}
      </p>
    </div>
  </div>
</n-link>
</template>
<script>
export default {
  name: 'AppCard',
  props: {
    post: {
      type: Object,
      required: true,
    },
    truncatedType: {
      type: [Boolean, String, Number],
      default: false,
    }
  },
}
</script>
<style lang="scss">
.chapter-card, .chapter-card#{$prfx} {
  margin-bottom: 25px;
  overflow: hidden;
  @include media($screen-desktop) {
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__content-wrapper {
    @include flex-row(space-between, stretch);
    @include media {
      margin-bottom: 8px;
    }
  }

  &__img-wrapper {
  @include padding-hack(29.6%);
  flex-basis: 50%;
  }
  &__img {
    &--border {
      border: 1px solid rgba(128, 128, 128, 0.2);
    }
  }

  &__description {
    @include flex-col(space-between, stretch);
    flex-basis: 45%;
    @include media($screen-tablet-small) {
      justify-content: flex-start;
    }
    display: flex;
    @include media($screen-iphone-6) {
      display: none;
    }
    @mixin for-screens($min, $max) {
      display: none;
      @include media($min) {
        display: flex;
      }
      @include media($max) {
        display: none;
      }
    }
    @for $i from 1 through 13 {
      &.screen-truncated#{$prfx}-#{$i}, &.screen-truncated-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-truncated#{$prfx}-14, &.screen-truncated-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
    @for $i from 1 through 13 {
      &.screen-truncatedAside#{$prfx}-#{$i}, &.screen-truncatedAside-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-truncatedAside#{$prfx}-14, &.screen-truncatedAside-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
    @for $i from 1 through 13 {
      &.screen-truncatedSection#{$prfx}-#{$i}, &.screen-truncatedSection-#{$i} {
        $min: screen-#{$i};
        $max: screen-#{$i+1};
        @include for-screens(map-get($screen-map, #{$min}), map-get($screen-map, #{$max}));
      }
    }
    &.screen-truncatedSection#{$prfx}-14, &.screen-truncatedSection-14 {
      display: none;
      @include media($screen-retina) {
        display: flex;
      }
    }
  }

  &__title {
    @include text($base-size, 500, $N4);
    margin-bottom: 6px;
  }

  &__text {
    @include text($H140, 400, $N4);
  }
  
  &__data {
    display: none;
    @include media {
      @include flex-row(flex-start, center);
      @include text($H120, 400, $N3);
    }
  }
}
</style>

