<template>
    <nav class="menu-navigation menu-navigation-prfx">
      <ul class="menu-navigation__list menu-navigation-prfx__list">
        <li class="menu-navigation__item menu-navigation-prfx__item">
          <n-link to='/' exact class="menu-navigation__link menu-navigation-prfx__link">Home</n-link>
        </li>
        <li class="menu-navigation__item menu-navigation-prfx__item" v-for='section in getCategories' :key='section.id'>
          <n-link :to='{ name: "category-category", params: { category: section.route } }' class="menu-navigation__link menu-navigation-prfx__link">{{ section.name }}</n-link>
        </li>
      </ul>
    </nav>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'AppMenu',
  computed: {
    ...mapGetters([
      'getCategories',
    ])
  },
}
</script>

<style lang="scss">
.slideInDown.animated,
.slideOutUp.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.menu-navigation, .menu-navigation#{$prfx} {
  padding: 0 16px;

  @include media {
    padding: 0 22px;
    margin: 0 auto;
  }

  @include container;

  &__list {
    @include media($screen-desktop) {
      @include flex-row(flex-start, stretch);
    }
  }
  &__item {
    flex: 1 1;
    margin-bottom: 20px;
    @include flex-row(flex-start, stretch);
    
    &:last-child {
      margin-bottom: 0;
    }

    @include media($screen-desktop) {
      margin: 0;
      max-width: 300px;
      justify-content: center;
    }
  }

  &__link {
    flex: 1 1;
    
    white-space: nowrap;
    @include text($H120, 500, $N0);
    &::first-letter {
      text-transform: uppercase;
    }
    @include media($screen-desktop) {
      text-align: center;
      
      font-size: 1rem;
      padding: 30px 20px 40px;
      @include  transition(color, background-color, filter);
      
      &:hover {
        background-color: var(--lighten-bg-color);
      }
    }
    &:active {
      filter: brightness(0.95);
      }
    @include media($screen-hd) {
      font-size: $H180;
      
    }
  }

  .nuxt-link-active {
    @include media($screen-desktop) {
      background-color: var(--lighten-bg-color);
    }
  }
}
</style>
