<template>
  <section class="topics topics-prfx">
  <h2 class="topics__title topics-prfx__title">TOPICS</h2>
  <app-topic v-for='topic in getTopics' :key='topic.id' :topic='topic'/>
  </section>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'AppTopics',
  computed: {
    ...mapGetters([
      'getTopics'
    ])
  }
}
</script>

<style lang="scss">
.topics, .topics#{$prfx} {
  padding: 0 0 50px;

  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }

  &__label {
    border-radius: 3px;
    background-color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    @include text($H140, 500, $N0);
    margin: 0 10px 10px 0;
  }
}

</style>
