<template>
  <n-link :to="{ name: 'post', params: { post: topic.route } }" class="topic topic-prfx">{{ topic.keyword }}</n-link>
</template>
<script>
export default {
  name: 'AppTopic',
  props: {
    topic: {
      type: Object,
      required: true,
    }
  }
}
</script>
<style lang="scss">
.topic, .topic#{$prfx} {
  border-radius: 3px;
  background-color: var(--bg-color);
  padding: 8px 16px;
  display: inline-block;
  @include text($H140, 500, $N0);
  margin: 0 10px 10px 0;
  @include transition(box-shadow, transform, filter);
  @include media($screen-pc) {
    &:hover {
      transform: translate3d(0, -1px, 0);
      filter: brightness(1.05);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12); 
    }
  }
  &:active {
    transform: translate3d(0, 0, 0);
    filter: brightness(0.95);
    box-shadow: none; 
  }
}
</style>
