<template>
  <div class='nuxt nuxt-prfx' :style='styles'>
    <nuxt />
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Default',
  computed: {
    ...mapGetters([
      'styles'
    ])
  }
}
</script>
<style lang="scss">
.nuxt, .nuxt#{$prfx} {
  width: 100%;
}
</style>

