<template>
  <div class="page page-prfx">
    <app-header/>
    <app-post :async-post='post' :posts='posts'/>
    <app-footer/>
  </div>
</template>
<script>
import AppPost from '../../components/post/AppPost';
import { mapState, mapGetters } from 'vuex';
import jsonData from '../../db.json';
import formatPost from '../../plugins/formatPost';
import filterPost from '../../plugins/filterPost';
import formatCategory from '../../plugins/formatCategory';
import has from 'has';

const postPure = {
  id: null,
  keyword: '',
  article: {
    id: null,
    translate_text: '',
  },
  image: {
    id: null,
    name: '',
    link: ''
  },
  category: {
    id: null,
    name: '',
    route: '',
  },
};

export default {
  name: 'Post',
  head () {
    return {
      title: `${this.post.keyword}` || 'Health',
      meta: [
        { hid: 'description', name: 'description', content: `${this.post.keyword}` }
      ],
      link: [
        { rel: 'amphtml', href: `/amp/${this.post.route}` }
      ],
      script: [
        {
          async: true,
          'custom-element': 'amp-bind',
          src: 'https://cdn.ampproject.org/v0/amp-bind-0.1.js'
        },
        {
          async: true,
          src: 'https://cdn.ampproject.org/v0.js',
        }
      ]
    }
  },
  async asyncData ({ params, error, payload, store }) {
    if (payload && has(payload, 'posts')) {
      store.commit('updatePosts', payload.posts);
      return { ...payload }
    } else {
      const formatedData = jsonData.map(formatPost).filter(filterPost).map(formatCategory);
      store.commit('updatePosts', formatedData);
      return { post: store.getters.getPostById(params.post), posts: formatedData, };
    }
  },
  components: {
    AppPost,
  },
  computed: {
    ...mapGetters([
      'getPostById',
    ]),
    getPost() {
      return this.getPostById(this.$route.params.post) || this.post || { keyword: '' };
    }
  },
}
</script>

