<template>
  <main class="main main-prfx fade">
    
    <article class="main-prfx__container main__container">
      <ul class="breadcrumb breadcrumb-prfx">
        <li class="breadcrumb-prfx__item breadcrumb__item"><n-link :to='{ name: "category-category", params: { category: post.category.route } }' class="breadcrumb__link breadcrumb-prfx__link">{{post.category.name}}</n-link></li>
        <li class="breadcrumb-prfx__item breadcrumb__item"><n-link :to='{ name: "post", params: { post: post.route } }' class="breadcrumb__link breadcrumb-prfx__link">{{post.keyword}}</n-link></li>
      </ul>
      <div class="post post-prfx">
        <a class="post__link post-prfx__link" href="#" @click.prevent="back">&lt; Back</a>
        <h1 class="post__title post-prfx__title">{{ post.keyword }}</h1>
        <div class="post__image-wrapper post-prfx__image-wrapper">
          <img
            :src="post.image.link"
            :alt="post.keyword"
            class="post__image post-prfx__image"
            v-if="post.image.link"
          />
        </div>
        <div class="post-prfx__text post__text">{{ post.article.translate_text }}</div>
        <app-post-nav :posts="posts" />
        <app-post-form />
      </div>
      <div class="is-mobile">
        <app-topics />
      </div>
    </article>
    <app-aside />
  </main>
</template>
<script>
import AppPostNav from "./AppPostNav";
import AppPostForm from "./AppPostForm";
import { mapGetters } from "vuex";

export default {
  name: "AppPost",
  props: {
    asyncPost: Object,
    posts: Array
  },
  components: {
    AppPostNav,
    AppPostForm
  },
  methods: {
    back() {
      this.$router.go(-1);
    }
  },
  computed: {
    ...mapGetters(["getPostById", "getFirstPost", "isPosts"]),
    post() {
      if (!this.isPosts) {
        return this.asyncPost;
      }
      const { post: route } = this.$route.params;
      return this.getPostById(route);
    }
  }
};
</script>
<style lang="scss">
.post, .post#{$prfx} {
  &__link {
    margin-bottom: 24px;
    @extend %link;
  }
  &__title {
    @include text($H200, 500, $N4);
    margin-bottom: 21px;
  }
  &__image-wrapper {
    margin-bottom: 18px;
  }
  &__image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__text {
    margin-bottom: 32px;
    white-space: pre-line;
    line-height: 1.4;
  }
}
</style>

