<template>
  <div class="post-nav post-nav-prfx fade">
  <n-link :to='{ name: "post", params: { post: prevPost.route } }' class="post-nav__link post-nav-prfx__link fade" v-if='prevPost.id'>
    <div class="post-nav__image-wrapper post-nav-prfx__image-wrapper">
        <img class="post-nav__image post-nav-prfx__image" :src="prevPost.image.link" :alt="prevPost.keyword" v-if='prevPost.image.link'>
        <img src="~/assets/images/no-image-available.png" :alt="prevPost.keyword" class="post-nav__image post-nav__image--border post-nav-prfx__image post-nav-prfx__image--border" v-else>
    </div>
    <div class="post-nav__description post-nav-prfx__description">
      <span class="post-nav__link-name post-nav-prfx__link-name">&lt; &lt; Previous</span>
      <h3 class="post-nav__title post-nav-prfx__title">{{ prevPost.keyword }}</h3>
    </div>
  </n-link>
  <n-link :to='{ name: "post", params: { post: nextPost.route } }' class="post-nav__link post-nav-prfx__link fade" v-if='nextPost.id'>
    <div class="post-nav__image-wrapper post-nav-prfx__image-wrapper">
        <img class="post-nav__image post-nav-prfx__image" :src="nextPost.image.link" :alt="nextPost.keyword" v-if='nextPost.image.link'>
        <img src="~/assets/images/no-image-available.png" :alt="nextPost.keyword" class="post-nav__image post-nav-prfx__image post-nav__image--border post-nav-prfx__image--border" v-else>
    </div>
    <div class="post-nav__description post-nav__description--end post-nav-prfx__description post-nav-prfx__description--end">
      <span class="post-nav__link-name post-nav-prfx__link-name">&gt; &gt; Next</span>
      <h3 class="post-nav__title post-nav-prfx__title">{{ nextPost.keyword }}</h3>
    </div>
  </n-link>
</div>
</template>
<script>
import { mapGetters } from 'vuex';
const purePost = {
  id: null,
  keyword: '',
  article: {
    id: null,
    translate_text: '',
  },
  image: {
    id: null,
    name: '',
    link: ''
  },
  categories: {
      id: null,
      name: ''
  },
};
export default {
  name: 'PostNav',
  props: {
    posts: Array,
  },
  computed: {
    ...mapGetters([
      'getPostById',
      'isPosts',
    ]),
    prevPost() {
      const { post: route } = this.$route.params;
      const { id } = this.$lodash.find(this.posts, { 'route': route });
      if (Number(id) === 1) {
        return Object.assign({}, purePost, this.$lodash.last(this.posts));
      } 
      const post = this.$lodash.find(this.posts, {id: Number(id) - 1});
      return Object.assign({}, purePost, post);
    },
    nextPost() {
      const { post: route } = this.$route.params;
      const { id } = this.$lodash.find(this.posts, { 'route': route });
      const post = this.$lodash.find(this.posts, {id: Number(id) + 1});
      return Object.assign({}, purePost, post);
    },
  }
}
</script>
<style lang="scss">
.post-nav, .post-nav#{$prfx} {
  @include flex-row(space-between, stretch);
  margin-bottom: 60px;
  &__image-wrapper {
    @include padding-hack(80px) {
      object-fit: contain;
    };
    margin-bottom: 20px;
    @include media($screen-desktop) {
      margin-bottom: 0;
      padding-top: 29.6%;
      flex: 0 0 50%;
    }
  }
  &__image {
    &--border {
      border: 1px solid rgba(128, 128, 128, 0.2);
    }
  }
  &__title {
    @include text($base-size, 500, $N4);
    flex: 1 1;
    @include flex-col(center, stretch);
  }
  &__link {
    flex: 0 0 45%;
    @include flex-col(space-between, stretch);
    @include media($screen-desktop) {
      flex-direction: row;
    }
  }
  &__link-name {
    @extend %link;
    margin-bottom: 20px;
    @include media($screen-desktop) {
      margin-bottom: 6px;
    }
  }
  &__description {
    @include flex-col(space-between, stretch);
    @include media($screen-desktop) {
      flex: 0 0 45%;
    }
    &--end {
      text-align: right;
      @include media($screen-desktop) {
        text-align: right;
        order: -1;
      }
    }
  }
}
</style>

