<template>
  <div class="post-form, post-form-prfx">
    <h4 class="post-form__title post-form-prfx__title">CONTACT US</h4>
    <form id='comment-form' class='form form-prfx' action="">
      <label class='form__label form-prfx__label'>
        <span class='form__name form__name--required form-prfx__name form-prfx__name--required'>Your Name</span>
        <input class='form__input form-prfx__input' type="text" name='name' autocomplete="off" required>
      </label>
      <label class='form__label form-prfx__label'>
        <span class='form__name form__name--required form-prfx__name form-prfx__name--required'>Your Email</span>
        <input class='form__input form-prfx__input' type="email" name='email' autocomplete="off" required>
      </label>
      <label class='form-prfx__label form__label'>
        <span class='form__name form-prfx__name'>Subject</span>
        <input class='form__input form-prfx__input' type="text" name='subject' autocomplete="off">
      </label>
      <label class='form__label form-prfx__label'>
        <span class='form__name form-prfx__name'>Your Message</span>
        <textarea class='form__input form__input--textarea form-prfx__input form-prfx__input--textarea' name="message" rows="10"></textarea>
      </label>
      <button class='button button-prfx'>send</button>
    </form>
  </div>
</template>
<style lang="scss">
.post-form, .post-form#{$prfx} {
  
  &__title {
    @include text($H180, 700, $N4);
    text-transform: uppercase;
    margin-bottom: 38px;
  }
  &__subtitle {
    @include text($H200, 500, $N4);
    margin-bottom: 20px;
  }
  &__description {
    @include text($H140, 400, $N4);
    margin-bottom: 22px;
  }
}
.form, .form#{$prfx} {
  @include flex-col(flex-start, stretch);
  margin-bottom: 22px;
  @include media {
    padding-right: 32px;
  }
  @include media($screen-desktop) {
    padding-right: 120px;
  }
  &__label {
    @include flex-col(flex-start, stretch);
    margin-bottom: 20px;
  }
  &__name {
    @include text(16px, 400, $N4);
    margin-bottom: 12px;
    @include media {
      font-size: $H120;
    }
    &--required {
      &:after {
        content: ' *';
        color: red;
        font-size: $base-size;
      }
    }
  }
  &__input {
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--bg-color);
    height: 40px;
    width: 100%;
    padding: 0 12px;
    @include media {
      width: 85%;
    }
    @include media($screen-desktop) {
      width: 75%;
    }
    @include media($screen-hd) {
      width: 65%;
    }
    &--textarea {
      padding: 12px;
      min-height: 156px;
      resize: vertical;
      @include media {
        width: 100%;
      }
    }
    
  }
}
</style>

