<template>
  <div id="amp-root">
    <header class="header header-prfx">
      <div class="logo logo-prfx">
        <div class="logo__container logo-prfx__container">
          <span class="logo__text logo-prfx__text">HEAL</span>
          <amp-img
            :src="require('~/assets/images/logo-plus.svg')"
            class="header__logo-img header-prfx__logo-img"
            alt="Welcome"
            height="30"
            width="30"
          ></amp-img>
          <span class="logo__text logo-prfx__text">HY</span>
        </div>
      </div>
      <div class="burger burger-prfx">
        <div class="burger__container burger-prfx__container">
          <button
            id="mobile-button"
            on="tap:sidebar1.toggle"
            class="hamburger hamburger--spring hamburger-prfx hamburger-prfx--spring"
            type="button"
          >
            <span class="hamburger-box hamburger-box-prfx">
              <span class="hamburger-inner hamburger-inner-prfx">
                <div class="before"></div>
                <div class="after"></div>
              </span>
            </span>
          </button>
        </div>
      </div>
    </header>
    <amp-sidebar id="sidebar1" class="menu menu-prfx" layout="nodisplay" side="left">
      <ul class="menu__list menu-prfx__list">
        <li class="menu__item menu-prfx__item">
          <n-link id="link-home" to="/" exact class="menu__link menu-prfx__link">Home</n-link>
        </li>
        <li class="menu__item menu-prfx__item" v-for="section in categories" :key="section.id">
          <n-link
            :to="{ name: 'category', params: { category: section.route } }"
            class="menu__link menu-prfx__link"
            >{{ section.name }}</n-link
          >
        </li>
      </ul>
    </amp-sidebar>
    <main class="main main-prfx">
      <article class="main__container main-prfx__container">
        <ul class="breadcrumb breadcrumb-prfx">
          <li class="breadcrumb__item breadcrumb-prfx__item">
            <n-link
              :to="{
                name: 'category',
                params: { category: post.category.route }
              }"
              class="breadcrumb__link breadcrumb-prfx__link"
              >{{ post.category.name }}</n-link
            >
          </li>
          <li class="breadcrumb__item breadcrumb-prfx__item">
            <n-link
              :to="{ name: 'post', params: { post: post.route } }"
              class="breadcrumb__link breadcrumb-prfx__link"
              >{{ post.keyword }}</n-link
            >
          </li>
        </ul>
        <div class="post post-prfx">
          <n-link class="post__link post-prfx__link" to="/">&lt; Back</n-link>
          <h1 class="post__title post-prfx__title">{{ post.keyword }}</h1>
          <div class="post__image-wrapper post-prfx__image-wrapper">
            <amp-img
              layout="responsive"
              :src="post.image.link"
              height="230"
              width="320"
              :alt="post.keyword"
              class="post__image post-prfx__image"
            ></amp-img>
          </div>
          <div class="post-prfx__text post__text">{{ post.article.translate_text }}</div>
        </div>
        <div class="post-nav-prfx">
          <n-link
            :to="{ name: 'post', params: { post: prevPost.route } }"
            class="post-nav__link post-nav-prfx__link"
            v-if="prevPost.id"
          >
            <div class="post-nav__image-wrapper post-nav-prfx__image-wrapper">
              <amp-img
                layout="responsive"
                height="80"
                width="140"
                class="post-nav__image post-nav-prfx__image"
                :src="prevPost.image.link"
                :alt="prevPost.keyword"
              ></amp-img>
            </div>
            <div class="post-nav__description post-nav-prfx__description">
              <span class="post-nav__link-name post-nav-prfx__link-name">&lt; &lt; Previous</span>
              <h3 class="post-nav__title post-nav-prfx__title">{{ prevPost.keyword }}</h3>
            </div>
          </n-link>
          <n-link
            :to="{ name: 'post', params: { post: nextPost.route } }"
            class="post-nav__link post-nav-prfx__link"
            v-if="nextPost.id"
          >
            <div class="post-nav__image-wrapper post-nav-prfx__image-wrapper">
              <amp-img
                height="80"
                width="140"
                class="post-nav__image post-nav-prfx__image"
                :src="nextPost.image.link"
                :alt="nextPost.keyword"
              ></amp-img>
            </div>
            <div class="post-nav__description post-nav__description--end post-nav-prfx__description post-nav-prfx__description--end">
              <span class="post-nav__link-name post-nav-prfx__link-name">&gt; &gt; Next</span>
              <h3 class="post-nav__title post-nav-prfx__title">{{ nextPost.keyword }}</h3>
            </div>
          </n-link>
        </div>
        <div class="post-form post-form-prfx">
          <h4 class="post-form__title post-form-prfx__title">Feedback form</h4>
          <form action-xhr="https://example.com/subscribe" method="POST">
            <label class="form__label form-prfx__label">
              <span class="form__name form__name--required form-prfx__name form-prfx__name--required"
                >Your Name (required)</span
              >
              <input
                class="form__input form-prfx__input"
                type="text"
                name="name"
                autocomplete="off"
                required
              />
            </label>
            <label class="form__label form-prfx__label">
              <span class="form__name form__name--required form-prfx__name form-prfx__name--required"
                >Your Email (required)</span
              >
              <input
                class="form__input form-prfx__input"
                type="email"
                name="email"
                autocomplete="off"
                required
              />
            </label>
            <label class="form__label form-prfx__label">
              <span class="form__name form__name--required form-prfx__name form-prfx__name--required">Subject</span>
              <input
                class="form__input form-prfx__input"
                type="text"
                name="subject"
                autocomplete="off"
                required
              />
            </label>
            <label class="form__label form-prfx__label">
              <span class="form__name form-prfx__name">Your message</span>
              <textarea
                class="form__input form__input--textarea form-prfx__input form-prfx__input--textarea"
                name="message"
                rows="10"
              ></textarea>
            </label>
            <button id="feedback-form-button" class="button button--fit button-prfx button-prfx--fit">
              SEND
            </button>
          </form>
        </div>
      </article>
    </main>
    <footer class="footer footer-prfx"></footer>
  </div>
</template>
<script>
import jsonData from "../../../db.json";
import formatPost from "../../../plugins/formatPost";
import filterPost from "../../../plugins/filterPost";
import formatCategory from "../../../plugins/formatCategory";
import _ from "lodash";
import has from 'has';

const getPrevPost = (param, posts) => {
  const { id = 1 } = _.find(posts, { route: param });
  if (Number(id) === 1) {
    return Object.assign({}, _.last(posts));
  }
  const post = _.find(posts, { id: Number(id) - 1 });
  return Object.assign({}, post);
};

const getNextPost = (param, posts) => {
  const { id = 1 } = _.find(posts, { route: param });
  const post = _.find(posts, { id: Number(id) + 1 });
  return Object.assign({}, post);
};

export default {
  layout: "amp",
  head() {
    return {
      title: `${this.post.keyword}` || 'Health',
      link: [
        { rel: 'canonical', href: `/${this.post.route}` }
      ],
    }
  },
  async asyncData({ params, error, payload, store }) {
    if (payload && has(payload, 'posts')) {
      store.commit("updatePosts", payload.posts);
      const categories = store.getters.getCategories;
      const prevPost = getPrevPost(params.post, payload.posts);
      const nextPost = getNextPost(params.post, payload.posts);
      return {
        ...payload,
        categories,
        prevPost,
        nextPost
      };
    } else {
      const formatedData = jsonData
        .map(formatPost)
        .filter(filterPost)
        .map(formatCategory);
      store.commit("updatePosts", formatedData);
      const categories = store.getters.getCategories;
      const prevPost = getPrevPost(params.post, formatedData);
      const nextPost = getNextPost(params.post, formatedData);
      return {
        post: store.getters.getPostById(params.post),
        posts: formatedData,
        categories,
        prevPost,
        nextPost
      };
    }
  }
};
</script>