<template>
  <n-link to='/' class="logo logo-prfx fade">
    <div class="logo__container logo-prfx__container">
      <span class="logo__text logo-prfx__text">HEAL</span>
      <img id='logo' src="~/assets/images/logo-plus.svg" alt="" class="header__logo-img header-prfx__logo-img">
      <span class="logo__text logo-prfx__text">HY</span>
    </div>
  </n-link>
</template>
<style lang="scss">
// @import '~@/assets/scss/core/core';
.logo, .logo#{$prfx} {
  padding: 30px 0 24px;
  text-decoration: none;
  cursor: pointer;
  &__container {
    padding: 0 16px;

    @include container;
    margin: 0 auto;
  }

  &__text {
    @include text($H300, 700, $R1);
    font-family: $logo-font;
  }
}
</style>
