%link {
  @include text($H140, 500, var(--bg-color));
  @include transition(color);
  cursor: pointer;
  @include media($screen-desktop) {
    &:hover {
      filter: brightness(0.9);
    }
  }
  &:active {
    filter: brightness(0.95);
  }
}