$prfx: '-prfx';

//COLORS:

//NATURALS

$N0: #ffffff;
$N1: #fefefe;
$N2: #ececec;
$N3: #999999;
$N4: #111111;
$N100: #000000;

//BLUE

$B1: #00aed3;
$B2: #009cbd;
$B3: #003ada;

//RED

$R1: #cd1d00;

//SIZE:
$base-size: var(--base-size);
@function healthy-px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

@mixin toRem($px: 16px) {
	font-size: healthy-px_to_rem($px, var(--base-size));
}

$H300: calc(var(--base-size) * 2.25);

$H250: calc(var(--base-size) * 1.5);
$H200: calc(var(--base-size) * 1.3);

$H180: calc(var(--base-size) * 1.12);
$H140: calc(var(--base-size) / 1.14);
$H120: calc(var(--base-size) / 1.3);

//FONTS:

$main-font: 'GothamPro', 'Open Sans', sans-serif;
$logo-font: 'GothamProBlack', 'Open Sans', sans-serif;


//img-path

$img-path: '~assets/images/';

$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 480px;
$screen-tablet-medium: 600px;
$screen-tablet: 768px;
$screen-pc: 800px;
$screen-tablet-large: 860px;
$screen-netbook: 960px;
$screen-desktop: 1024px;
$screen-desktop-medium: 1190px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;

$screen-map: (
	screen-1: 375px,
	screen-2: 414px,
	screen-3: 480px,
	screen-4: 600px,
	screen-5: 768px,
	screen-6: 800px,
	screen-7: 860px,
	screen-8: 960px,
	screen-9: 1024px,
	screen-10: 1190px,
	screen-11: 1280px,
	screen-12: 1366px,
	screen-13: 1440px,
	screen-14: 1660px,
);