<template>
  <main class='main main-prfx'>
    <section class="main__container main-prfx__container">
    <app-home-slider/>
    <section class="pre-watch pre-watch-prfx">
    <div class="pre-watch__chapter pre-watch-prfx__chapter" v-for='category in getCategories' :key='category.id'>
      <h4 class="pre-watch__title pre-watch-prfx__title">{{ category.name }}</h4>
      <app-card
        truncatedType='truncated'
        v-for='post in getTwoPostsByCategory(category.id)'
        :key='post.id'
        :post='post'/>
    </div>
</section>
    <div class="is-mobile">
      <app-topics/>
    </div>
  </section>
  <app-aside/>
  </main>
</template>
<script>
import AppHomeSlider from './components/AppHomeSlider';
import { mapGetters } from 'vuex';

export default {
  name: 'AppHome',
  components: {
    AppHomeSlider,
  },
  computed: {
    ...mapGetters([
      'getCategories',
      'getTwoPostsByCategory',
    ])
  },
}
</script>

<style lang="scss">
.pre-watch, .pre-watch#{$prfx} {
  padding: 0 0 40px;
  @include media($screen-desktop) {
    @include flex-row(space-between, flex-start);
    flex-wrap: wrap;
  }

  &__chapter {
    margin-bottom: 40px;
    @include media($screen-desktop) {
     flex-basis: 47%;
     max-width: 47%;
  }
}

  &__title {
    @include text($H180, 500, var(--bg-color));
    margin-bottom: 30px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
</style>
