<template>
  <aside class="aside aside-prfx">
  <div class="search search-prfx">
    <h4 class="search__title search-prfx__title">search</h4>
    <vue-instant
      :suggestOnAllWords="true"
      class="search__input search-prfx__input"
      :suggestion-attribute="suggestionAttribute"
      v-model="search"
      @click-button="onSearch"
      @click-input="onSearch"
      :disabled="false" 
      :show-autocomplete="true"
      :autofocus="false"
      @enter="onSearch"
      :suggestions="posts"
      name="customName"
      placeholder="Search..."
      type="google"
      :class='{"active": search.length}'></vue-instant>
    <!-- <input type="text" class="search__input" placeholder="Search"> -->
  </div>
  <div class="signup signup-prfx">
    <h4 class="signup-prfx__title signup__title">SIGN UP FOR OUR NEWSLETTER</h4>
    <button class='button button--fluid button-prfx button-prfx--fluid'>sign up</button>
  </div>
  <div class="aside__container aside-prfx__container fade">
  <h4 class="aside-prfx__title aside__title">YOU MAY ALSO LIKE</h4>
  <div>
    <app-card v-for='post in getPostsAside' :key='post.id' :post='post' truncatedType='truncatedAside'/>
  </div>
</div>
  <app-topics/>
</aside>
</template>
<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'AppAside',
  data() {
    return {
      search: '',
      suggestionAttribute: 'keyword',
    }
  },
  methods: {
    onSearch() {
      if (this.posts.some(({ keyword }) => keyword === this.search)) {
        const { id } = this.posts.find(({ keyword }) => keyword === this.search);
        this.$router.push(`/post/${id}`);
      }
    },
  },
  computed: {
    ...mapState({
      posts: state => state.posts,
    }), 
    ...mapGetters([
      'getPostsAside',
    ])
  }
}
</script>

<style lang="scss">
.aside, .aside#{$prfx} {
  display: none;
  @include media($screen-tablet) {
    display: block;
    flex: 1 1;
  }
  &__container {
    padding-bottom: 40px;
  }
  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }
}
.search, .search#{$prfx} {
  width: 100%;
  padding-bottom: 30px;

  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__input {
    height: 60px;
    width: 100%;
    border: 7px solid var(--lighten-bg-color);
    @include flex-row(stretch, stretch);
    &.active .sbx-google__submit {
      display: block;
    }
    .main, .main#{$prfx} {
      padding: 0;
      border: none;
    }
    .sbx-google {
      width: 100%;
      height: 100%;
      border: none;
    }
    .sbx-google__input-placeholder {
      border-radius: 0;
      padding: 0 72px 0 16px;
    }
    .sbx-google__reset {
      right: 49px;
      top: 12px;
    }
    .sbx-google__submit {
      border-radius: 0;
      background-color: var(--lighten-bg-color);
      display: none;
    }
    .sbx-google__input {
      padding: 0 72px 0 16px;
      border: none;
      box-shadow: none;
      outline: none;
      &:focus {
        box-shadow: none;
        border: none;
        outline: none;
      }
    }
  }
}
.signup, .signup#{$prfx} {
  padding-bottom: 40px;
  text-transform: uppercase;

  &__title {
    @include text($H180, 500, $N4);
    margin-bottom: 20px;
  }

  &__btn {
    .button, .button#{$prfx} {
      width: 100%;
    }
  }
}
</style>

