body, input, button, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, a, button, textarea {
  font-family: "Gotham Pro", "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}
.aside-wrapper, .aside-wrapper-prfx {
  padding: 32px 0;
}

.button, .button-prfx {
  padding: 15px 54px;
  background-color: #cd1d00;
  border-radius: 3px;
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.button, .button-prfx--fluid {
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade {
  animation: fadeIn 0.2s ease;
}

.logo, .logo-prfx {
  padding: 30px 0 24px;
}
.logo__container, .logo-prfx__container {
  padding: 0 16px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0 auto;
}

.logo__text, .logo-prfx__text {
  font-size: 2.25rem;
  font-weight: 700;
  color: #cd1d00;
  font-family: "Gotham Pro - Black", "Open Sans", sans-serif;
}

.hamburger--spring .hamburger-inner, .hamburger-prfx--spring .hamburger-inner-prfx {
  top: 1px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner .before, .hamburger-prfx--spring .hamburger-inner-prfx .before {
  top: 9px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner .after, .hamburger-prfx--spring .hamburger-inner-prfx .after {
  top: 18px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring.is-active .hamburger-inner, .hamburger-prfx--spring.is-active .hamburger-inner-prfx {
  transition-delay: 0.22s;
  background-color: transparent;
}
.hamburger--spring.is-active .hamburger-inner .before, .hamburger-prfx--spring.is-active .hamburger-inner-prfx .before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 9px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner .after, .hamburger-prfx--spring.is-active .hamburger-inner-prfx .after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 9px, 0) rotate(-45deg);
}

.hamburger, .hamburger-prfx {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger.is-active .hamburger-inner,
.hamburger-prfx.is-active .hamburger-inner-prfx,
.hamburger.is-active .hamburger-inner .before,
.hamburger-prfx.is-active .hamburger-inner-prfx .before,
.hamburger.is-active .hamburger-inner .after,
.hamburger-prfx.is-active .hamburger-inner-prfx .after {
  background-color: #ffffff;
}

.hamburger-box, .hamburger-box-prfx {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner, .hamburger-inner-prfx {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner, .hamburger-inner .before, .hamburger-inner .after,
.hamburger-inner-prfx, .hamburger-inner-prfx .before, .hamburger-inner-prfx .after {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner .before, .hamburger-inner .after,
.hamburger-inner-prfx .before, .hamburger-inner-prfx .after {
  content: "";
  display: block;
}
.hamburger-inner .before, .hamburger-inner-prfx .before {
  top: -9px;
}
.hamburger-inner .after, .hamburger-inner-prfx .after {
  bottom: -9px;
}

.hamburger, .hamburger-prfx {
  outline: none;
}

.burger, .burger-prfx {
  background-color: #00aed3;
  padding: 29px 0;
}

.burger__container, .burger-prfx__container {
  padding: 0 24px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.menu, .menu-prfx {
  padding: 30px 0 40px;
  background-color: #009cbd;
  width: 80vw;
}

.menu__navigation, .menu-prfx__navigation {
  padding: 0 16px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.menu__item, .menu-prfx__item {
  flex: 1 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.menu__link,.menu-prfx__link {
  flex: 1 1;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.menu__link::first-letter, .menu-prfx__link::first-letter {
  text-transform: capitalize;
}

.header,
.header-prfx {
  position: relative;
  width: 100%;
}
.header__wrapper, .header-prfx__wrapper {
  width: 100%;
}

.main, .main-prfx {
  flex: 1 1;
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.form, .form-prfx {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 22px;
}

.form__label, .form-prfx__label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
}
.form__name, .form-prfx__name {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 12px;
}

.form__input, .form-prfx__input {
  border-radius: 3px;
  outline: none;
  border: 1px solid #00aed3;
  height: 40px;
  width: 100%;
  padding: 0 12px;
}

.form__input--textarea, .form-prfx__input--textarea {
  padding: 12px;
  min-height: 156px;
  resize: vertical;
}
.post-form__title, .post-form-prfx__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.post-form__subtitle, .post-form-prfx__subtitle {
  font-size: 1.3125rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}
.post-form__description, .post-form-prfx__description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #111111;
  margin-bottom: 22px;
}
.post, .post-prfx {
  margin-bottom: 24px;
}
.post__link, .post-prfx__link {
  margin-bottom: 24px;
  color: #00aed3;
  text-decoration: none;
}
.post__title, .post-prfx__title {
  font-size: 1.3125rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 21px;
}
.post__image-wrapper, .post-prfx__image-wrapper {
  margin-bottom: 18px;
}
.post__image, .post-prfx__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.post-nav, .post-nav-prfx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 60px;
}
.post-nav__image-wrapper, .post-nav-prfx__image-wrapper {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.post-nav__title, .post-nav-prfx__title {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.post-nav__link, .post-nav-prfx__link {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #00aed3;
  text-decoration: none;
}

.post-nav__link-name, .post-nav-prfx__link-name {
  margin-bottom: 20px;
}

.post-nav__description, .post-nav-prfx__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.post-nav__description--end, .post-nav-prfx__description--end {
  text-align: right;
}

.topics, .topics-prfx {
  padding: 0 0 50px;
}
.topics__title, .topics-prfx__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}
.topics__label, .topics-prfx__label {
  border-radius: 3px;
  background-color: #00aed3;
  padding: 8px 16px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.topic, .topic-prfx {
  border-radius: 3px;
  background-color: #00aed3;
  padding: 8px 16px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.footer, .footer-prfx {
  min-height: 80px;
  background-color: #009cbd;
  width: 100%;
}

.breadcrumb, .breadcrumb-prfx {
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.breadcrumb__item, .breadcrumb-prfx__item {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.breadcrumb__item + .breadcrumb__item:before, .breadcrumb-prfx__item + .breadcrumb-prfx__item:before {
  padding: 8px;
  color: black;
  content: "\\203a";
}
.breadcrumb__link, .breadcrumb-prfx__link {
  color: #00aed3;
  font-size: 14px;
  font-weight: 500;
  transition: color ease 0.2s;
  cursor: pointer;
}
.breadcrumb__link:active, .breadcrumb-prfx__link:active {
  filter: brightness(0.95);
}
.breadcrumb__link::first-letter, .breadcrumb-prfx__link::first-letter {
  text-transform: capitalize;
}
