<template>
<div class="glide">
  <div class="glide__container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide-slide" v-for='post in getPostsSlider' :key='post.id'>
            <img class='glide-slide__image' :src="post.image.link" :alt="post.keyword" v-if='post.image.link'>
            <img src="~/assets/images/no-image-available.png" :alt="post.keyword" class='glide-slide__image' v-else>
            <div class="glide-slide__layer"></div>
            <div class="glide-slide__inner">
              <h4 class="glide-slide__title">{{ post.sliderText.keyword }}</h4>
              <p class="glide-slide__text">{{ post.sliderText.text }}</p>
              <n-link :to='{ name: "post", params: { post: post.route } }' class="glide-slide__dots">[ . . . ]</n-link>
            </div>
          </li>
        </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button
          v-for='(post, index) in getPostsSlider'
          :key='post.id'
          class="glide__bullet"
          :data-glide-dir="`=${index}`"></button>
    </div>
  </div>
</div>
</template>
<script>
import Glide from "@glidejs/glide";
import { mapGetters } from 'vuex';

export default {
  name: 'AppHomeSlider',
  data() {
    return {
      slider: null,
      posts: [{id: 1, text: 'asd asd asd', keyword: 'asdasd'}, {id: 2, text: 'as2d a22sd asd', keyword: 'asd2asd'}],
    }
  },
  methods: {
    async mountSlider() {
      await this.$nextTick();
      this.slider = new Glide(".glide");
      this.slider.mount();
    },
  },
  computed: {
    ...mapGetters([
      'getPostsSlider',
    ])
  },
  watch: {
    getPostsSlider() {
      this.mountSlider();
    }
  },
  mounted() {
    this.mountSlider()
  }
}
</script>
