<template>
  <div class="page page-prfx">
    <app-header/>
    <app-section :async-posts='postsCategory' :async-category='getCategory'/>
    <app-footer/>
  </div>
</template>
<script>
import AppSection from '../../../components/section/AppSection';
import { mapState, mapGetters } from 'vuex';
import jsonData from '../../../db.json';
import formatPost from '../../../plugins/formatPost';
import formatCategory from '../../../plugins/formatCategory';
import filterPost from '../../../plugins/filterPost';
import { filterPostsByCategory } from '../../../plugins/filterCategory';
import has from 'has';

export default {
  name: 'Category',
  head () {
    return {
      title: `${this.getCategory.name}` || 'Health',
      meta: [
        { hid: 'description', name: 'description', content: this.getCategory.name }
      ]
    }
  },
  async asyncData ({ params, error, payload, store }) {
    if (payload && has(payload, 'posts')) {
      store.commit('updatePosts', payload.posts);
      return { ...payload }
    } else {
      const formatedData = jsonData.map(formatPost).filter(filterPost).map(formatCategory);
      const postsCategory = filterPostsByCategory(formatedData, params.category, process.env.APP_NUMBER);
      store.commit('updatePosts', formatedData);
      return { category: store.getters.getCategoryById(params.category), posts: formatedData, postsCategory };
    }
  },
  components: {
    AppSection,
  },
  computed: {
    ...mapGetters([
      'getCategoryById',
    ]),
    getCategory() {
      return this.getCategoryById(this.$route.params.category) || this.category || { keyword: '' };
    }
  }
}
</script>

