<template>
  <footer class="footer footer-prfx">
    <div class="footer__menu footer-prfx__menu">
      <app-menu/>
    </div>
  </footer>
</template>
<style lang="scss">
.footer, .footer#{$prfx} {
  min-height: 80px;
  background-color: var(--bg-color);
  width: 100%;

  &__menu {
    display: none;
    @include media($screen-desktop) {
      display: block;
    }
    margin: 0 auto;
  }
}
</style>

