<template>
  <main class="main main-prfx">
    <section class="main__container main-prfx__container">
      <div class='section section-prfx fade'>
        <h1 class='section__title section-prfx__title'>{{ category.name }}</h1>
        <div class='section__posts section-prfx__posts'>
          <app-card v-for='post in posts' :key='post.id' :post='post' truncatedType='truncatedSection'/>
        </div>
      </div>
      <div class="is-mobile">
        <app-topics/>
      </div>
    </section>
    <app-aside/>
  </main>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  name: 'AppSection',
  props: {
    asyncCategory: Object,
    asyncPosts: Array,
  },
  computed: {
    ...mapGetters([
      'getPostsByCategory',
      'getFirstCategory',
      'getCategoryById',
      'isPosts',
    ]),
    posts() {
      if (!this.isPosts.length) {
        return this.asyncPosts;
      }
      const { category: id } = this.$route.params;
      return this.getPostsByCategory(id);
    },
    category() {
      if (!this.isPosts.length) {
        return this.asyncCategory;
      }
      const { category: id } = this.$route.params;
      return this.getCategoryById(id);
      ;
    }
  }
}
</script>
<style lang="scss">
$styles: section;
.#{$styles}, .#{$styles}#{$prfx} {

  &__title {
    margin-bottom: 32px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__posts {
    @include flex-col(flex-start, stretch);
    margin-bottom: 40px;
  }
  
}
</style>

